*,  *::before, *::after {
    box-sizing: border-box;
}

body {
    background-color: rgb(17, 17, 17);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar-container {
    background-color: rgb(41, 41, 41);
    border-radius: .8rem;
    max-width: max-content;
    margin: 0 auto;
    margin-top: 10rem; 
}

.list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.list a {
    color: rgb(0, 195, 255);
    text-decoration: none;
    padding: 1em;
    display: inline-block;
}