*,  *::before, *::after {
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --icon-size: 2rem;
    --indicator-spacing: calc(var(--icon-size) / 8);
    --border-radius: calc(var(--icon-size) / 4);
    --nav-item-padding: calc(var(--icon-size) / 2);
    --background-color: rgb(17, 17, 17);
    --nav-bg-color: rgb(41, 41, 41);
}

.navbar-container {
    background-color: var(--nav-bg-color);
    border-radius: var(--border-radius);
    max-width: max-content;
    margin: 0 auto;
    margin-top: 10rem;
    padding: 0 calc(var(--nav-item-padding) * 1.5);
}

.list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
}

.list li {
    height: 4em;
}

.list a {
    color: rgb(0, 195, 255);
    text-decoration: none;
    padding: var(--nav-item-padding);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list .text {
    font-size: .8em;
    opacity: 0;
    pointer-events: none;
    visibility: visible;
    transition: 350ms ease-in-out;
    position: absolute;
    bottom: calc(.5 * var(--nav-item-padding));
    transform: translateY(50%);
}

.list .active  .text{
    pointer-events: all;
    opacity: 1;
    transform: translateY(0);
}

.list .icon {
    position: relative;
    transition: 350ms ease-in-out;
}

.list .icon img {
    width: var(--icon-size);
    height: var(--icon-size);
    display: block;
}

.list .active .icon {
   transform: translateY(calc(-50% - var(--nav-item-padding)));
}

/* .list .active::before {
    content: "";
    box-sizing: content-box;
    position: absolute;
    width: var(--border-radius);
    height: var(--border-radius);
    background-color: var(--nav-bg-color);
    z-index: 1;
    top: calc(-1 * var(--indicator-spacing));
    left: calc(0.7 * var(--indicator-spacing));
    transform: translateX(-100%);
    border-top-right-radius: 100%;
    border-width: calc(var(--indicator-spacing));
    border-color: var(--background-color);
    border-style: solid;
    border-bottom: none;
    border-left: none;
}

.list .active::after {
    content: "";
    box-sizing: content-box;
    position: absolute;
    width: var(--border-radius);
    height: var(--border-radius);
    background-color: var(--nav-bg-color);
    z-index: 1;
    top: calc(-1 * var(--indicator-spacing));
    right: calc(-5.5 * var(--indicator-spacing));
    transform: translateX(-100%);
    border-top-left-radius: 100%;
    border-width: calc(var(--indicator-spacing));
    border-color: var(--background-color);
    border-style: solid;
    border-bottom: none;
    border-right: none;
} */

.indicator {
    position: absolute;
    left: calc(var(--position, 0) * (var(--icon-size) +
    (var(--nav-item-padding) * 2)));
}

.indicator::after, 
.indicator::before {
    content: "";
    position: absolute;
    border-radius: 100%;
    
}

.indicator::after {
    background-color:  rgba(0, 195, 255, 0.849);
    width: calc(var(--icon-size) * 2);
    height: calc(var(--icon-size) * 2);
    top: calc(-.5 * var(--icon-size));
    left: calc(.5 * var(--icon-size));
    transform: translate(-25%, -25%); 

}

.indicator::before {
    background-color:  var(--background-color);
    width: calc((var(--icon-size) + var(--indicator-spacing)) * 2);
    height: calc((var(--icon-size) + var(--indicator-spacing)) * 2);
    top: calc(-1 * var(--icon-size) - var(--indicator-spacing));
    left: calc(-1 * var(--indicator-spacing));
}

.corners::before {
    content: "";
    box-sizing: content-box;
    position: absolute;
    width: var(--border-radius);
    height: var(--border-radius);
    background-color: var(--nav-bg-color);
    z-index: 1;
    top: calc(-1 * var(--indicator-spacing));
    left: calc(0.2 * var(--indicator-spacing));
    transform: translateX(-100%);
    border-top-right-radius: 100%;
    border-width: calc(var(--indicator-spacing));
    border-color: var(--background-color);
    border-style: solid;
    border-bottom: none;
    border-left: none;
}

.corners::after {
    content: "";
    box-sizing: content-box;
    position: absolute;
    width: var(--border-radius);
    height: var(--border-radius);
    background-color: var(--nav-bg-color);
    z-index: 1;
    top: calc(-1 * var(--indicator-spacing));
    left: calc(var(--icon-size) * 2 + 2.9 * var(--indicator-spacing));
    transform: translateX(-100%);
    border-top-left-radius: 100%;
    border-width: calc(var(--indicator-spacing));
    border-color: var(--background-color);
    border-style: solid;
    border-bottom: none;
    border-right: none;
}